

<div class ="resultado" *ngIf="(item | async)?.title; else naoachou">
    {{estadoTrue()}}
    <div class="disponivel">
        <span class='bigger'>Disponível em</span>
        <br>
        <a href="https://www.netflix.com/search?q={{(item | async)?.title}}" target="_blank"><img *ngIf="(item | async)?.netflix == 1" src="../../assets/images/netflix-logo.png" alt="Netflix logo" class="image"></a>
        <a href="https://www.primevideo.com/search/ref=atv_nb_sr?phrase={{(item | async)?.title}}&language=pt_BR&ie=UTF8" target=”_blank”><img *ngIf="(item | async)?.primevideo == 1" src="../../assets/images/prime-logo.png" alt="Prime Video logo" class="image"></a>
        <a href="https://www.disneyplus.com/pt-br/search" target="_blank"><img *ngIf="(item | async)?.disney == 1" src="../../assets/images/disney-logo.png" alt="Disney plus logo" class="image"></a> 
        <a href="https://www.hulu.com/welcome?orig_referrer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><img *ngIf="(item | async)?.hulu == 1" src="../../assets/images/hulu-logo.png" alt="Hulu logo" class="image"></a>	
    </div>
    <div class="infos">
        <span class='bigger'><i><b>{{(item | async)?.title}}</b></i></span>
        <br>
        <span *ngIf="(item | async)?.type==0" class='fadein'>Filme de <i>{{(item | async)?.year}}</i></span>
        <span *ngIf="(item | async)?.type==1" class='fadein'>Série estreada em <i>{{(item | async)?.year}}</i></span>
        <br>
        <span class='fadein'>Classificação: </span> <span class='fadein'*ngIf="(item | async)?.age == 'Sem Dado';else livre"> <i>{{(item | async)?.age}}</i></span>
        <ng-template #livre><img *ngIf="(item | async)?.age == 'all'; else maior10" src="../../assets/images/classificacao-livre-logo.png" alt="logo Livre" class="logoclassificacao"></ng-template>
        <ng-template #maior10><img *ngIf="(item | async)?.age == '7+'; else maior14" src="../../assets/images/classificacao-10-anos-logo.png" alt="logo 10" class="logoclassificacao"></ng-template>
        <ng-template #maior14><img *ngIf="(item | async)?.age == '13+'; else maior16" src="../../assets/images/classificacao-14-anos-logo.png" alt="logo 14" class="logoclassificacao"></ng-template>
        <ng-template #maior16><img *ngIf="(item | async)?.age == '16+'; else maior18" src="../../assets/images/classificacao-16-anos-logo.png" alt="logo 16" class="logoclassificacao"></ng-template>
        <ng-template #maior18><img  src="../../assets/images/classificacao-18-anos-logo.png" alt="logo 18" class="logoclassificacao"></ng-template>
        <br>
        <span class='fadein' *ngIf="(item | async)?.type==0">Gênero: <i>{{(item | async)?.genres}}</i></span>
        <br>
        <span class='fadein' *ngIf="(item | async)?.type==0">Duração: <i>{{(item | async)?.runtime}}min</i></span>
        <br>
        <span class='fadein'><a class="link" href="https://www.imdb.com/find?q={{(item | async)?.title}}" target="_blank"><img src="../../assets/images/imdb-logo.png" alt="imdb logo" class="logoimdb"></a>: <i>{{(item | async)?.imdb}}</i></span>
        <br>
        <span class='fadein'><a class="link" href="http://rottentomatoes.com/search?search={{(item | async)?.title}}" target="_blank"><img src="../../assets/images/rotten-logo.png" alt="imdb logo" class="logorotten"></a>: <i>{{(item | async)?.rotten}}</i></span>

    </div>
</div>
<ng-template #naoachou>
    {{estadoFalse()}}
    <div class="naoachou" *ngIf="getNome()!=''">
        <span class="erro">Opss, não achamos o que procura em nosso sistema :/<br></span>
        <span >Verifique se digitou corretamente o título<br></span>
        <span>O título deve estar em inglês</span>
    </div>
</ng-template>
