.image{
    width: 140px;
    margin: 50px 20px 10px 20px;

    animation-name: appear;
    animation-duration: 1s;
}

.image:hover{
    width: 150px;
    margin: 45px 15px 5px 15px;
}

.link{
    color: yellow;
}

.logoclassificacao{
    width: 40px;

    animation-name: appear;
    animation-duration: 1s;
    vertical-align: middle;
}

.logoimdb{
    width: 70px;

    animation-name: appear;
    animation-duration: 1s;
    vertical-align: middle;
}


.logorotten{
    width: 110px;

    animation-name: appear;
    animation-duration: 1s;
    vertical-align: middle;
}

.resultado{
    width: auto;
    margin: auto;
    padding: 0 0 0 0;
}

.disponivel{
    float: right;

    width: 30%;
    min-height: 380px;
    padding: 35px 0 15px 0;

    animation-name: bk_appear;
    animation-duration: .5s;
    text-align: left;

    background-color: rgba(20, 20, 20, .75);
}

.infos{
    float: left;

    width: 65%;
    min-height: 380px;
    padding: 35px 0 15px 5%;

    animation-name: bk_appear;
    animation-duration: .5s;
    text-align: left;

    background-color: rgba(20, 20, 20, .75);
}

.bigger{
    font-size: 150%;

    animation-name: appear;
    animation-duration: .5s;
}

.fadein{
    animation-name: appear;
    animation-duration: .5s;
}

.naoachou{
    animation-name: appear;
    animation-duration: 4.5s;
    background-color: rgba(20, 20, 20, .75);

}


@keyframes appear{
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes bk_appear{
    from {background-color: rgba(20, 20, 20, 0);}
    to {background-color: rgba(20, 20, 20, .75);}
}
