.buscar{
	height: 72px;
	font-size: 30px;
	text-align: bottom;
	font-family: sans-serif;
	background: rgb(210,0,0);
	border-color: black;
	color: white;

}

.buscar:active{
	transform: translate(0,3px);

}

.alternar{
	height: 40px;
	font-family: sans-serif;
	background: rgb(210,0,0);
	border-color: black;
	color: white;
	margin-left: 40%;
}

.seletor{
	margin: 20px 0 0 0 ;
	padding-left: 15%;
	width: 20%;
	float: left;
}

.buscador{
	width: 65%;
	float: right;
}

.main{
	height: 40vh;
	background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8) 0,rgba(0,0,0,0.356) 40%,rgba(0, 0, 0, 0.356) 75%,rgba(0,0,0,.8) 100%);
  	justify-content: center;
  	display: block;
  	padding-top: 30vh;
    padding-bottom: 30vh;
}

.titulo{
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #000000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	color:yellow;
	font-size: 100px;
	font-family: sans-serif;
	display: block;
}

.box{
	border: 0;
	margin: 20px 0 20px 0;
	height: 70px;
	width: 61%;
	font-size: 30px;
	text-align: bottom;
	
}

.view{
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	width: auto;
	padding: 0 0 0 0;
	margin: auto;
	color:  yellow;
	font-size: 35px;
	font-family: sans-serif;
	text-align: center;
	line-height: 35pt;
	clear:both;

}

.text{
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	padding: 0 0 0 0;
	color:yellow;
	font-size: 27px;
	font-family: sans-serif;
}